* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    background: black;
    color: white;
    -webkit-font-smoothing: antialiased;
}

body,
input,
button {
    font-size: 16px;
    font-family: "inter", sans-serif;
}

button {
    cursor: pointer;
}


section {
    width: 95%;
    border: 1px solid #333;
    margin: 50px auto;
    padding: 50px;

}

section h2 {
    margin-bottom: 10px;
}